* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #101820;
  color: seashell;
}

.App {
  font-family: sans-serif;
  height: 75%;
}

#root {
  height: 100vh;
  padding: 2em;
}

#info-mode{
  margin-left: 1em;
}

#submit-button{
  margin-left: 1em;
}

.panel-section{
  line-height: 2em;
  margin-bottom: auto;
}

.label-mode{
  font-size: large;
  margin-left: 0.6em;
}

.label-mode:hover{
  text-decoration: underline;
  font-style: italic;
}

button{
  width: 5em;
  padding: 0.6em;
}

h1{
  font-size: 15pt;
}

a {
  text-decoration: none;
  color: turquoise;
}

a:hover{
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}