# Container image to use for all jobs.
image: node:18.18-bullseye-slim

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH 
    - if: $CI_COMMIT_BRANCH == "staging"

stages:
  - lint
  - build
  - test
  - release

default:
  cache:  # Cache modules in between jobs for the same branch if package-lock.json file changes
    key: 
      prefix: $CI_COMMIT_REF_NAME
      files:
        - server/package-lock.json
        - client/package-lock.json
    paths:
      - server/.npm/
      - client/.npm
  # run this before every job; will hit the cache first
  before_script:
   - cd server && npm ci --cache .npm --prefer-offline && cd ../client && npm ci --cache .npm --prefer-offline && cd ..

lint-server:
  stage: lint 
  script:
    - cd server && ./node_modules/eslint/bin/eslint.js --ext js,mjs,cjs . 
  allow_failure: false

lint-client:
  stage: lint 
  script:
    - cd client && ./node_modules/eslint/bin/eslint.js --ext js,jsx,mjs,cjs .
  allow_failure: false

build-frontend:
  stage: build
  script:
    - cd client && npm run build
  only:
    refs:
      - main
      - staging
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - client/build

test-server:
  stage: test
  script:
   - cd server
   - npm run test
  allow_failure: false
  
build-app-archive:
  stage: release
  variables:
    RELEASE_FILE: release-$CI_PROJECT_NAME-$CI_COMMIT_TAG-$CI_COMMIT_SHORT_SHA.tar.gz
  rules:
  - if: $CI_COMMIT_TAG
  before_script:
    - npm ci --omit dev
  script:
    - tar -zcvf $RELEASE_FILE server/* client/build
  artifacts:
    expire_in: 1 weeks
    when: on_success
    paths:
      - release/release-$RELEASE_FILE.tar.gz
