.MapFilters, .ChartFilters {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh;
    border: 1px solid black;
}

.year-slider, .filter-select-country{
    margin: 2em 1.5em 0 0;
}

.filterType {
    border: 1px solid black;
    padding: 1vh;
    gap: 1vw;
}

.MapFilters > *, .ChartFilters > * {
    margin: 1vh;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

input[type='radio'] {
    transform: scale(1.5);
    height: 1em;
}
