.MapFilters, .ChartFilters {
    display: flex;
    justify-content: space-between;
    gap: 1vh;
    padding: 1vh;
}

.year-slider, .filter-select-country{
    margin: 2em 1.5em 0 0;
}

.filterType {
    padding-right: 18%;
    border-right: solid;
}

.MapFilters > *, .ChartFilters > * {
    margin: 1vh;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

input[type='radio'] {
    transform: scale(1.5);
    height: 1em;
}
