.MapFilters {
    width: 500px;
    padding: 1vh;
    border: 1px solid black;
}

.filterType {
    display: flex;
    border: 1px solid black;
    padding: 1vh;
    gap: 1vw;
}

.MapFilters > * {
    margin: 1vh;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

input[type='radio'] {
    transform: scale(1.5);
    height: 1em;
}
