.MapFilters, .ChartFilters {
    display: flex;
    justify-content: space-between;
    gap: 1vh;
    padding: 1vh;
}

@media only screen and (max-width: 1220px) {
    .MapFilters, .ChartFilters {
      flex-direction: column;
    }

    .MapFilters > .filterType, .ChartFilters > .filterType {
        border-bottom: solid;
        border-right: none;
        padding: 1em;
    }
}

@media only screen and (max-width: 800px) {
    .MapFilters > .filterType:nth-child(1) > div {
      flex-direction: column;
    }
    .MapFilters > .filterType {
        border-bottom: solid;
        border-right: none;
        padding: 1em;
    }
}

.year-slider, .filter-select-country{
    margin: 2em 1.5em 0 0;
}

.filterType {
    display: flex;
    padding-right: 18%;
    border-right: solid;
}

.MapFilters > *, .ChartFilters > * {
    margin: 1vh;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

input[type='radio'] {
    transform: scale(1.5);
    height: 1em;
}

form{
    padding: 0.5em;
}
