.SelectedCountries {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1vh;
    
}

.SelectedCountry {
    display: flex;
    justify-content: space-between;
    min-width: 150px;
}

.delete-button{
    flex: 0 0 90px;
    padding: 0.6em;
}