.ChartView {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.plot-container {
    flex: 2;
}

.user-select-none {
    width: 100%;
}






html, body {
    width: 100%;
    height: 100%;
  }